.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: .5px .5px .5px #000000;
}
.personalInfo {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.contactForm {
    margin-bottom: .5em;
}
.form {
    margin: .5rem;
    width: 100%;
    border-radius: 10px;
}
.input {
    width: 90%;
    font-size: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: rgb(201, 196, 216);
    color:black;
    font-weight: bold;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px rgb(23, 19, 34);
}
#line {
    height: 5px;
    background-color: rgb(94, 79, 136);
    border-radius: 5px;
    margin: 2rem, 0;
    width: 96%;
}
#messageBox {
    resize: none;
}
#messageBox::placeholder {
    font-family: 'Roboto', sans-serif;

}
