main {
    padding-top: 2rem;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vh;
    margin-bottom: 2rem;
    
}
.nav-btn {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    color: rgb(94, 79, 136);
    text-align: center;
    background-color: rgb(201, 196, 216);
    border: rgb(94, 79, 136) solid 2px;
}
.nav-links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nav-option {
    width: 99%;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: black;
    outline: none;
    border: 1px solid rgb(94, 79, 136);
    background-color: rgb(201, 196, 216);
    font-weight: bold;
    padding: 1rem 0;
}
.large {
    width: fit-content;
    transform: scale(1.25);
}
.large:hover {
    transform: scale(1.25);
}
.contents {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.video {
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
.committee {
    grid-column-start: 2;
    grid-column-end: span 2;
    width: 70vh;
    margin-bottom: 2rem;
}
.committee-title {
    margin: 0;
    font-size: 1rem;
    display: block;
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: rgb(94, 79, 136);
}
.committee-title:hover {
    cursor: pointer;
}
.committee-links {
    text-decoration: none;
    list-style: none;
    background-color: rgb(201, 196, 216);
    width: 100%;
    position: relative;
}
.committee-link {
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid rgb(94, 79, 136);
}
.committee:last-child {
    padding-bottom: 3rem;
}
.hidden {
    display: none;
}
@media only screen and (max-width: 900px) {
    main {
        margin-top: 5rem;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        width: 100%;
    }
    .nav-bar {
        width: 97%;
    }
    .contents {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .committee {
        grid-column: 1;
        width: 100%;
        justify-content: center;
    }
    .videos {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
}
@media only screen and (max-height: 600px) {
    main {
        margin-top: 5rem;
        width: 100%;
    }
}